<!DOCTYPE html>
<html>
<head>
    <!-- Page Title -->
    <title>ConnectToFund</title>
    
    <!-- CSS for Styling -->
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel='stylesheet' href='stylesheets/main.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css">
    
    <!-- JavaScript for Interactivity -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <style>
        .money::before {
            content:"$";
        }
    </style>
</head>

<%- include navbar-after-login %>

<body>
    <section class="row justify-content-start">
        <div class="col-ls-5 col-md-5 col-sm-10" style="margin-left: 4em; height: 450px;">
            <div id="projectPics" style="height: 450px;"  class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#projectPics" data-slide-to="0" class="active"></li>
                    <%
                    if(attaches != null) { 
                        for(var i = 1; i < attaches.length; i++) { %>
                            <li data-target="#projectPics" data-slide-to="<%= i%>"></li>
                            <%
                        }
                    }%>
                </ol>
                <div style="height:450px;width:100%;background-color: SlateGray; opacity: 0.1;z-index: 2;position: absolute;"></div>
                <div class="carousel-inner">
                    <%
                    if(attaches != null) {%>
                        <div class="carousel-item active" style="height: 450px;">
                            <img src="/images/<%= attaches[0].pictureaddress%>" height="450px" class="d-block w-100">
                        </div>
                        <%
                        for(var i = 1; i < attaches.length; i++) {
                            var src = attaches[i].pictureaddress;
                            %>
                            <div class="carousel-item" style="height: 450px;">
                                <img src="/images/<%= src%>" height="450px" class="d-block w-100">
                            </div>
                            <%
                        }
                    }
                    %>
                </div>
                <div style="position:relative; top:-13em;z-index: 3;" class="d-flex justify-content-between">
                    <a class="carousel-control-prev" style="padding: 0;" href="#projectPics" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next"  style="padding: 0;" href="#projectPics" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <%
        var creator_email = null; 
        if(project != null) {
            creator_email = project.email;
            var projectTotalFundNeeded = project.projecttotalfundneeded;
            var projectStatus = project.projstatus;
            var projectName = project.projectname;
            var countryName = project.countryname;
            var projectDescription = project.projectdescription;
            var projectDeadline = project.projectdeadline;
            var categoryName = project.categoryname;
            var projectStartDate = project.projectstartdate;
            var username = project.username;
            var donateamount = parseFloat(project.donateamount);
            var amountInCurrencyFormat = Number(donateamount).toLocaleString('en');
            var togo = parseFloat(project.togo);
            var projectTotalFundNeeded = parseFloat(project.projecttotalfundneeded);
            var togoInCurrencyFormat = Number(togo).toLocaleString('en');
            var totalFundNeededInCurrencyFormat = Number(projectTotalFundNeeded).toLocaleString('en');
            var percentage = ((100 * (donateamount / projectTotalFundNeeded)) | 0) + "%";
            var myDonate = parseInt(myDonate);
            var start = project.projectstartdate;
            start = start.getDate()  + "/" + (start.getMonth() + 1) + "/" + start.getFullYear();
            var deadline = project.projectdeadline;
            deadline = deadline.getDate() + "/" + (deadline.getMonth() + 1) + "/" + deadline.getFullYear();
            
            var imgs = [];
            
            if(attaches != null) {
                for(var i = 0; i < attaches.length; i++) {
                    imgs.push("/images/" + attaches[i].pictureaddress);
                }
            }
            %>
            <div class="col-ls-5 col-md-5 col-sm-10" style="margin-right: 4em;margin-top: 2em; height: 450px;">
                <p style="margin-bottom: 0.5em;">
                    <span><i class="fa fa-grav" aria-hidden="true"></i>&nbsp;&nbsp;<%= categoryName%></span>
                    <span><i class="fa fa-globe" aria-hidden="true" style="margin-left: 1em;"></i>&nbsp;&nbsp;<%= countryName%></span>
                    <i class="fa fa-calendar-o" style="font-size:12px;margin-left: 1em;" aria-hidden="true"></i> <span class="text-muted" style="font-size:14px;position: relative;top:0.1em;" class="start">&nbsp;<%=start%></span>
                    <i class="fa fa-hourglass-end" style="font-size:12px; margin-left: 1em;" aria-hidden="true"></i><span class="text-muted" style="font-size:14px;position: relative;top:0.1em;" class="deadline"> &nbsp;<%=deadline%></span>
                    <% if(myDonate > 0){%>
                        <span class="badge badge-pill badge-success" style="position: absolute;top:0.5em;right:10%; font-weight: bold;">Donated</span>
                        <%}%>
                        <% if(projectStatus < 1){%>
                            <span class="badge badge-pill badge-danger" style="position: absolute;top:0.5em;right:10%; font-weight: bold;">Overdue</span>
                            <%}%>
                        </p>    
                        <h3 class="text-left"><%= projectName%></h3>
                        <p class="d-flex justify-content-between" style="position:relative; top:0em;">
                            <span class="font-weight-bold text-uppercase text-secondary" style="margin-right: 1em;" data-toggle="tooltip" data-placement="right" title="<%= creator_email%>">Created By: <%= username%></span> 
                            <span class="text-secondary" style="font-size: 14px;margin-right: 5%;"><i class="fa fa-users" aria-hidden="true"></i> <%= likeCount%> likes | <%= followCount%> follows</spa>
                            </p>
                            <p class="text-secondary" style="margin-top: 1em;min-height: 25%;"><%= projectDescription%></p>
                            <div class="d-flex justify-content-between" >
                                <small class="test-left font-weight-bold text-success money" style="font-size: 16px;"><%= amountInCurrencyFormat%>&nbsp; SGD raised</small>
                                <small class = "money text-right font-weight-bold text-info" style="font-size: 16px;margin-right: 8%;"><%= totalFundNeededInCurrencyFormat%> </small>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="progress" style="height: 15px; width: 95%;">
                                    <div class="progress-bar bg-success" style="width: <%= percentage%>;" role="progressbar" aria-valuenow="<%= donateamount%>" aria-valuemin="0" aria-valuemax="<%= projectTotalFundNeeded%>"></div>
                                </div>
                                <div style="margin-left: 1em; ">
                                    <span class="text-muted" style="font-size: 14px;"><%= percentage%></span>
                                </div>
                            </div>
                            <div class="row justify-content-between">
                                <small class = "text-right font-weight-bold text-success money" style="margin-left: 1.2em;font-weight: bold;font-size: 12px;"><%= myDonate%> from you</small>
                                <%
                                if(togo > 0) {
                                    %>
                                    <small class = "text-right font-weight-bold text-info money" style="margin-right: 10%;font-weight: bold;font-size: 12px;"><%= togoInCurrencyFormat%>&nbsp; to go</small>
                                    <%} else { %> 
                                        <small class = "text-right font-weight-bold text-info" style="margin-right: 10%;font-weight: bold;font-size: 12px;">Enough Funds !</small>
                                        <%}%>
                                    </div>
                                    <div class="d-flex justify-content-start" style="position: absolute; bottom: 2em;">                         
                                        <form action="" id='<%= projectName%>_follow' role="form" method="post">
                                            <% if(myFollow == "1") {%>
                                                <input hidden name="projName" value="<%= projectName%>"/>
                                                <input hidden name="act" value="deFollow"/>
                                                <% if(myDonate > 0) {%> 
                                                    <button type="button" onclick="alert('Please stay with the project you donated.')" class="btn btn-sm btn-outline-secondary active">Followed <i class="fa fa-bookmark" aria-hidden="true"></i></button>
                                                    <%} else {%> 
                                                        <button type="submit" class="btn btn-sm btn-outline-secondary active">Followed <i class="fa fa-bookmark" aria-hidden="true"></i></button>
                                                        <%}
                                                    } else {%>
                                                        <input hidden name="projName" value="<%= projectName%>"/>
                                                        <input hidden name="act" value="follow"/>
                                                        <button type="submit" class="btn btn-sm btn-outline-secondary" >Follow <i class="fa fa-bookmark-o" aria-hidden="true"></i></button>
                                                        <%}%>
                                                    </form>
                                                    <form style="margin-left:0.5em ;" action="" id='<%= projectName%>_like' role="form" method="post">
                                                        <% if(myLike == "1") {%>
                                                            <input hidden name="projName" value="<%= projectName%>"/>
                                                            <input hidden name="act" value="deLike"/>
                                                            <button type="submit" class="btn btn-sm btn-outline-secondary active">Liked <i class="fa fa-heart" aria-hidden="true"></i></button>
                                                            <%} else {%>
                                                                <input hidden name="projName" value="<%= projectName%>"/>
                                                                <input hidden name="act" value="like"/>
                                                                <button type="submit" class="btn btn-sm btn-outline-secondary">Like <i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                                                <%}%>
                                                            </form>
                                                            <button type="button" style="padding: 0 0.5em; margin-left:0.5em ; "  data-toggle="modal" data-target="#newComment" class="btn btn-sm btn-outline-success">Comment&nbsp;&nbsp;<i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                                            <% if(creator_email != email) {
                                                                if(myDonate > 0){
                                                                    if(projectStatus < 1) {%>
                                                                        <button type="button" style="padding: 0 0.5em; margin-left:0.5em ; " onclick="alertInfo()" class="btn btn-sm btn-outline-light text-muted">Donate Again</button>
                                                                        <%} else {%>
                                                                            <button type="button" style="padding: 0 0.5em; margin-left:0.5em ; " data-toggle="modal" data-target="#newDonate" class="btn btn-sm btn-outline-success">Donate Again&nbsp;&nbsp;<i class="fa fa-credit-card" aria-hidden="true"></i></button>                                                                
                                                                            <%}
                                                                        } else {
                                                                            if(projectStatus < 1) {%>
                                                                                <button type="button" style="padding: 0 0.5em; margin-left:0.5em ; " class="btn btn-sm btn-outline-light text-muted">Donate</button>
                                                                                <%} else {%>
                                                                                    <button type="button" style="padding: 0 0.5em; margin-left:0.5em ; " data-toggle="modal" data-target="#newDonate" class="btn btn-sm btn-outline-success">Donate&nbsp;&nbsp;<i class="fa fa-credit-card" aria-hidden="true"></i></button>
                                                                                    <%}
                                                                                }
                                                                            } else { 
                                                                                if(projectStatus < 1) {%>
                                                                                    <button type="button" data-toggle="modal" style="margin-left:0.5em ;"  data-target="#deleteAlert" class="btn btn-sm btn-outline-danger">Delete  <i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                                                    <button type="button" style="padding: 0 0.3em; margin-left:0.3em ;"  onclick="alertInfo()" class="btn btn-sm btn-outline-light text-muted">Progress</button>
                                                                                    <button type="button" style="padding: 0 0.3em; margin-left:0.3em ;" onclick="alertInfo()" class="btn btn-sm btn-outline-light text-muted">Modify</button>
                                                                                    <%} else {%>
                                                                                        <button type="button" style="padding: 0 0.5em; margin-left:0.5em ;" data-toggle="modal" data-target="#updateProj"  class="btn btn-sm btn-outline-success">Progress&nbsp;&nbsp; <i class="fa fa-cog" aria-hidden="true"></i></button>
                                                                                        <button type="button" style="padding: 0 0.5em; margin-left:0.5em ;" onclick="toModifyProj('<%= projectName%>')" class="btn btn-sm btn-outline-success">Modify&nbsp;&nbsp;<i class="fa fa-wrench" aria-hidden="true"></i></button>
                                                                                        <%}
                                                                                    } %>
                                                                                </div>
                                                                            </div>
                                                                        </section>
                                                                        
                                                                        <div class="modal fade  bd-example-modal-lg" id="newComment" tabindex="-1" role="dialog" aria-labelledby="newComment" aria-hidden="true">
                                                                            <div class="modal-dialog modal-lg" role="document">
                                                                                <div class="modal-content">
                                                                                    <div class="modal-header">
                                                                                        <h5 class="modal-title">Comment</h5>
                                                                                        <button type="button" onclick="clearData('comment')" class="close" data-dismiss="modal" aria-label="Close">
                                                                                            <span aria-hidden="true">&times;</span>
                                                                                        </button>
                                                                                    </div>
                                                                                    <form action="" method="POST">
                                                                                        <div class="modal-body">
                                                                                            <div class="form-group">
                                                                                                <label for="message-text" class="col-form-label">Content:</label>
                                                                                                <textarea class="form-control" name="newCommentContent" id="newCommentContent" required data-msg="Please enter comment."></textarea>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="modal-footer">
                                                                                            <input hidden name="act" value="newComment">
                                                                                            <input hidden name="projName" value="<%= projectName%>">
                                                                                            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="clearData('comment')">Reset</button>
                                                                                            <button type="submit" class="btn btn-sm btn-outline-success">Post <i class="fa fa-comments-o" aria-hidden="true"></i></button>
                                                                                        </div>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        
                                                                        <div class="modal fade bd-example-modal-lg" id="updateProj" tabindex="-1" role="dialog" aria-labelledby="updateProj" aria-hidden="true">
                                                                            <div class="modal-dialog modal-lg" role="document">
                                                                                <div class="modal-content">
                                                                                    <div class="modal-header">
                                                                                        <h5 class="modal-title">Update Project</h5>
                                                                                        <button type="button" onclick="clearData('update')" class="close" data-dismiss="modal" aria-label="Close">
                                                                                            <span aria-hidden="true">&times;</span>
                                                                                        </button>
                                                                                    </div>
                                                                                    <form action="" method="POST">
                                                                                        <div class="modal-body">
                                                                                            <div class="form-group">
                                                                                                <label for="message-text" class="col-form-label">Progress Description:</label>
                                                                                                <textarea class="form-control" name="progressContent" rows="10" id="progressContent" required data-msg="Please enter progress description."></textarea>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="modal-footer">
                                                                                            <input hidden name="act" value="updateProj">
                                                                                            <input hidden name="projName" value="<%= projectName%>">
                                                                                            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="clearData('update')">Reset</button>
                                                                                            <button type="submit" class="btn btn-sm btn-outline-success">Update <i class="fa fa-star-half-o" aria-hidden="true"></i></button>
                                                                                        </div>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        
                                                                        <div class="modal fade bd-example-modal-lg" id="newDonate" tabindex="-1" role="dialog" aria-labelledby="newDonate" aria-hidden="true">
                                                                            <div class="modal-dialog modal-lg" role="document">
                                                                                <div class="modal-content">
                                                                                    <div class="modal-header">
                                                                                        <h5 class="modal-title">Donation</h5>
                                                                                        <button type="button" onclick="clearData('donate')" class="close" data-dismiss="modal" aria-label="Close">
                                                                                            <span aria-hidden="true">&times;</span>
                                                                                        </button>
                                                                                    </div>
                                                                                    <form action="" method="POST" style="margin-top: 2em;">
                                                                                        <div class="d-flex justify-content-start" style="padding: 1em 1em;">
                                                                                            <label class="text-secondary" style="position: relative;top:0.8em;">Donation amount (in SGD):</label>
                                                                                            <div class="input-group" style="width: 60%; position: relative;left: 1em;">
                                                                                                <div class="input-group-prepend">
                                                                                                    <span class="input-group-text">$</span>
                                                                                                </div>
                                                                                                <input type="text"  pattern="[0-9]{1,10000000000000}" class="form-control" name="donateAmount" id="donateAmount" required
                                                                                                data-msg="Please enter valid amount" data-error-msg="Please enter valid amount of donation.">
                                                                                                <div class="input-group-append">
                                                                                                    <span class="input-group-text">.00</span>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="d-flex justify-content-start input-group" style="padding: 1em 1em;">  
                                                                                            <div class="input-group-prepend">
                                                                                                <label class="input-group-text">Select Payment:</label>
                                                                                            </div>         
                                                                                            <select class="custom-select" name="bankAcc" id="bankAcc">
                                                                                                <% if(bankAccTemp != null) {
                                                                                                    for(var i=0; i < bankAccTemp.length; i++) { %>
                                                                                                        <option><%= bankAccTemp[i].bankaccountname%> | <%= bankAccTemp[i].bankaccountno%></option>
                                                                                                        <% } } else {%>
                                                                                                            <option>--</option>
                                                                                                            <%} %>
                                                                                                        </select>
                                                                                                    </div>                                                                    
                                                                                                    
                                                                                                    <div class="modal-footer" style="margin-top: 3em;">
                                                                                                        <input hidden name="act" value="newDonate">
                                                                                                        <input hidden name="projName" value="<%= projectName%>">
                                                                                                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="clearData('donate')">Reset</button>
                                                                                                        <button type="submit" class="btn btn-sm btn-outline-success" style="padding-left:1em; padding-right: 1em;">Donate <i class="fa fa-rocket" aria-hidden="true"></i></button>
                                                                                                    </div>
                                                                                                </form>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    
                                                                                    <section style="width: 91%; margin: 0 auto;z-index: 2;">
                                                                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                                                            <li class="nav-item">
                                                                                                <a class="nav-link active text-secondary" id="update-tab" data-toggle="tab" href="#update" role="tab" aria-controls="update" aria-selected="true">Update</a>
                                                                                            </li>
                                                                                            <li class="nav-item">
                                                                                                <a class="nav-link text-secondary" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="false">Comments</a>
                                                                                            </li>
                                                                                        </ul>
                                                                                        <div class="tab-content"  id="myTabContent">
                                                                                            <div class="tab-pane fade active show" style="padding:1em;" id="update" role="tabpanel" aria-labelledby="update-tab">
                                                                                                <%if( updateTemp != null) {
                                                                                                    for(var i = 0; i < updateTemp.length; i++) {
                                                                                                        var content = updateTemp[i].progresscontent;
                                                                                                        var date = updateTemp[i].progressdatetime;
                                                                                                        var dateStr = date.getDate() + "/" + (date.getMonth()+1) + "/" + date.getFullYear();
                                                                                                        %>
                                                                                                        <div class="card" style="width: 100%; margin-bottom: 1em;">
                                                                                                            <div class="card-body">
                                                                                                                <h5 class="card-title">Update on <%= dateStr%></h5>
                                                                                                                <p class="card-text"><%= content%></p>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <% }
                                                                                                    }%>
                                                                                                </div>
                                                                                                <!-- comment part -->
                                                                                                <div class="tab-pane fade" style="padding:1em;" id="comments" role="tabpanel" aria-labelledby="comments-tab">
                                                                                                    <%if( commentsTemp != null) {
                                                                                                        for(var i = 0; i < commentsTemp.length; i++) {
                                                                                                            var content = commentsTemp[i].content;
                                                                                                            var date = commentsTemp[i].commentdatetime;
                                                                                                            var dateStr = date.getDate() + "/" + (date.getMonth()+1) + "/" + date.getFullYear();
                                                                                                            var username = commentsTemp[i].username;
                                                                                                            %>
                                                                                                            <div class="card" style="width: 100%; margin-bottom: 1em;">
                                                                                                                <div class="card-body">
                                                                                                                    <h5 class="card-title"><%= username%></h5>
                                                                                                                    <h6 class="card-subtitle mb-2 text-muted">Commented on <%= dateStr%></h6>
                                                                                                                    <p class="card-text"><%= content%></p>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <% }
                                                                                                        }%>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </section>
                                                                                            <%} else {%>
                                                                                                <div>NO DATA HERE</div>
                                                                                                <%}%>
                                                                                                
                                                                                                <div class="modal fade" id="deleteAlert" tabindex="-1" role="dialog" aria-labelledby="deleteAlert" aria-hidden="true">
                                                                                                    <div class="modal-dialog" role="document">
                                                                                                        <div class="modal-content">
                                                                                                            <div class="modal-header">
                                                                                                                <h5 class="modal-title">Delete Alert</h5>
                                                                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                                                    <span aria-hidden="true">&times;</span>
                                                                                                                </button>
                                                                                                            </div>
                                                                                                            <div class="modal-body">
                                                                                                                Do you confirm to delete the project?
                                                                                                            </div>
                                                                                                            <div class="modal-footer">
                                                                                                                <form method="POST" action="http://localhost:3200/delete" enctype="multipart/form-data">
                                                                                                                    <input hidden name="projectName" value="<%= projectName%>">
                                                                                                                    <input hidden name="images" value="<%= imgs%>">
                                                                                                                    <input hidden name="email" value="<%= creator_email%>">
                                                                                                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                                                                                                                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                                                                                                                </form>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>            
                                                                                            </body>
                                                                                            <script>
                                                                                                function clearData(option) {
                                                                                                    if(option == 'comment')
                                                                                                    document.getElementById("newCommentContent").value = "";
                                                                                                    else{
                                                                                                        document.getElementById('bankAcc').selectedIndex = 0;
                                                                                                        document.getElementById('donateAmount').value = "";
                                                                                                    }
                                                                                                }
                                                                                                
                                                                                                function toModifyProj(projName){
                                                                                                    window.location = '/modifyProject?proj='+projName;
                                                                                                }
                                                                                                
                                                                                                function alertInfo() {
                                                                                                    alert("The project has expired.");
                                                                                                }
                                                                                            </script>
                                                                                            </html>