<!DOCTYPE html>
<html>
<head>
    <!-- Page Title -->
    <title>ConnectToFund</title>
    
    <!-- CSS for Styling -->
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel='stylesheet' href='stylesheets/main.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css">
    
    <!-- JavaScript for Interactivity -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <style>
    .money::before {
      content:"$";
    }
    .image {
      opacity: 1;
      display: block;
      transition: .3s ease;
      backface-visibility: hidden;
    }
    .cardContainer:hover .image {
      opacity: 0.7;
    }
  </style>
</head>
<body onload="checkSort('<%= sortTerm%>', '<%= cateTerm%>')"> 
  <%- include navbar-after-login %>
  <header class="masthead2 text-white text-center">
    <div class="container">      
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12 col-xs-12">
          <div class="contents">
            <div style="height: 4em;"></div>
            <h2 class="head-title">The collection of your own projects</h2>
            <h5>Welcome to ConnectToFund, have a nice day!</h5>
            <div style="height: 0.5em;"></div>
            <form class="row">
              <input class="form-control col-lg-11 col-md-6 col-xs-12" type="search" id="searchName" placeholder="Search" aria-label="Search">
              <div class="col-lg-1 col-md-6 col-xs-12">
                <button class="btn btn-outline-success" type="button" onclick="filterByName()" >Search</button>
              </div>
            </form>
            <div style="height: 2em;"></div>
          </div>
        </div> 
      </div>
    </div>
  </header>
  
  <div style="height: 1em;"></div>
  <ul class="nav nav-tabs nav-justified" style="padding: 0em, 2em;">
    <li class="nav-item" ><a class="nav-link text-secondary" id="all_cate" onclick="filterByCate('all', '<%= sortTerm%>')">ALL</a></li>
    <% if (categories != null) {
      for(var i = 0; i < categories.length; i++) {
        var id = categories[i].categoryname + '_cate';
        %>
        <li class="nav-item"> <a class="nav-link text-uppercase text-secondary" id="<%=id%>" onclick="filterByCate('<%= categories[i].categoryname %>', '<%= sortTerm%>')"> <%= categories[i].categoryname%></a></li>
        <%
      }
    }%>
  </ul>
  
  <div class="row">
    <div class="sidebar-sticky" style="padding-left: 2em;margin-top: 1em; width: 13.5em;">
      <ul>
        <li>
          <a class="text-secondary" style="margin-left:1em;" data-toggle="collapse" href="#countries" role="button" aria-expanded="false" aria-controls="countries">
            <i class="fa fa-angle-down" aria-hidden="true"></i>  Locations
          </a>
          <div class="collapse" style="margin-top: 0.5em;margin-left: 1em;" id="countries">
            <ul class="nav flex-column" style="margin-left: 0.5em;">
              <% if (countries != null) {
                for (var i = 0; i < countries.length; i++) {
                  %>
                  <li class="nav-item" style="margin-bottom:.5em;">
                    <div class="form-check">
                      <input class="form-check-input countryCheckBox " type="checkbox" onchange="filterByCountry()" value=" <%= countries[i].countryname%>">
                      <label class="form-check-label text-muted" style="font-size: 14px;">
                        <%= countries[i].countryname%>
                      </label>
                    </div>
                  </li>
                  <%
                }
              }%>
            </ul>
            <br/>
          </div>
        </li>
        <li style="margin-top: 1em;">
          <a class="text-secondary" style="margin-left:1em ;" data-toggle="collapse" href="#sortBy" role="button" aria-expanded="false" aria-controls="sortBy">
            <i class="fa fa-angle-down" aria-hidden="true"></i>  Sort by
          </a>
          <div class="collapse" id="sortBy">
            <ul class="nav flex-column" style="margin-left: 1.5em; font-size: 14px;margin-top: 0.5em;">
              <li class="nav-item" style="margin-bottom:.5em;">
                <div class="form-check">
                  <input class="form-check-input sort" onchange="sortBy('start', '<%= cateTerm%>')" type="radio" name="exampleRadios" id="start_sort" value="start">
                  <label class="form-check-label text-muted">
                    Start date
                  </label>
                </div>
              </li>
              <li class="nav-item" style="margin-bottom:.5em;">
                <div class="form-check">
                  <input class="form-check-input sort" onchange="sortBy('deadline', '<%= cateTerm%>')" type="radio" name="exampleRadios" id="deadline_sort" value="deadline">
                  <label class="form-check-label text-muted">
                    Deadline
                  </label>
                </div>
              </li>
              <li class="nav-item" style="margin-bottom:.5em;">
                <div class="form-check">
                  <input class="form-check-input sort" onchange="sortBy('follower', '<%= cateTerm%>')" type="radio" name="exampleRadios" id="follower_sort" value="followers">
                  <label class="form-check-label text-muted">
                    Number of followers
                  </label>
                </div>
              </li>
              <li class="nav-item" style="margin-bottom:.5em;">
                <div class="form-check">
                  <input class="form-check-input sort" onchange="sortBy('likes', '<%= cateTerm%>')" type="radio" name="exampleRadios" id="likes_sort" value="likes">
                  <label class="form-check-label text-muted">
                    Number of likes
                  </label>
                </div>
              </li>
              <li class="nav-item" style="margin-bottom:.5em;">
                <div class="form-check">
                  <input class="form-check-input sort" onchange="sortBy('amount', '<%= cateTerm%>')" type="radio" name="exampleRadios" id="amount_sort" value="amount">
                  <label class="form-check-label text-muted">
                    Amount raised
                  </label>
                </div>
              </li>
              <li class="nav-item" style="margin-bottom:.5em;">
                <div class="form-check">
                  <input class="form-check-input sort" onchange="sortBy('percentage', '<%= cateTerm%>')" type="radio" name="exampleRadios" id="percentage_sort" value="percentage">
                  <label class="form-check-label text-muted">
                    Percentage raised 
                  </label>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      
      
    </div>
    <div class="album py-5 bg-light" style="width: 82%">
      <div class="container">
        <div class="row">
          <%if(projects != null) {
            for(var i = 0; i < projects.length; i++) {
              var projectStatus = projects[i].projstatus;
              var donateamount = parseFloat(projects[i].donateamount);
              var projectTotalFundNeeded = parseFloat(projects[i].projecttotalfundneeded);
              var percentage = ((100 * (donateamount / projectTotalFundNeeded)) | 0) + "%" ;
              var amountInCurrencyFormat = Number(donateamount).toLocaleString('en');
              var start = projects[i].projectstartdate;
              start = start.getDate()  + "/" + ( start.getMonth() + 1 )+ "/" + start.getFullYear();
              var deadline = projects[i].projectdeadline;
              deadline = deadline.getDate() + "/" + (deadline.getMonth() + 1) + "/" + deadline.getFullYear();
              %>
              <div class='cardContainer col-md-4 projects <%= projects[i].categoryname%> <%= projects[i].location%>' id='<%= projects[i].projectname%>'>
                <div class="card mb-4 box-shadow">
                  <img class="image card-img-top" src='/images/<%= projects[i].pictureaddress%>' onclick="toProject('<%= projects[i].projectname%>')" alt='<%= projects[i].projectname %> display picture' style="height: 225px; width: 100%; display: block;">
                  <div class="card-body">
                    <div>
                      <% if(donateamount >= projectTotalFundNeeded) {%>
                        <span class="badge badge-success float-right" style="margin-bottom: 0.5em;">enough funds</span>
                        <% }else if(projectStatus != '1') {%>
                        <span class="badge badge-danger float-right" style="margin-bottom: 0.5em;">out of date</span>
                        <%}%>
                        <h5 class="card-title" style="display: block; white-space: nowrap; overflow:hidden; text-overflow: ellipsis; height: 2em;"><%= projects[i].projectname%></h5>
                        
                        <div class="row" style="position: relative; top:-1em; left: 1em;">
                          <small style="position: relative;top:-0.1em;" ><i class="fa fa-globe" aria-hidden="true"></i>&nbsp;&nbsp;<%= projects[i].location%></small>
                        </div>
                        <div class="d-flex justify-content-between align-items-cente" style="position: relative; top:-0.7em;">
                          <div style="margin-left: 0.1em;">
                            <i class="fa fa-hourglass-end" style="font-size:12px;" aria-hidden="true"></i><span class="text-muted" style="font-size:14px;position: relative;top:0.1em;" class="deadline"> &nbsp;<%=deadline%></span>
                          </div>
                          <div style="margin-right: 1em;">
                            <i class="fa fa-calendar-o" style="font-size:12px;" aria-hidden="true"></i> <span class="text-muted" style="font-size:14px;position: relative;top:0.1em;" class="start">&nbsp;<%=start%></span>
                          </div>
                        </div>
                      </div>
                      <p class="card-text" style="display: block; max-lines: 3; overflow:hidden; text-overflow: ellipsis; height: 6em;"><%= projects[i].projectdescription%></p>
                      <small class="test-left font-weight-bold text-success money"><%= amountInCurrencyFormat%>&nbsp;SGD raised</small>
                      <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 1.5em">
                        <div class="progress" style="height: 5px; width: 85%;">
                          <div class="progress-bar bg-success" style="width: <%= percentage%>;" role="progressbar" aria-valuenow="<%= donateamount%>" aria-valuemin="0" aria-valuemax="<%= projectTotalFundNeeded%>"></div>
                        </div>
                        <div style="margin-left: 1em; ">
                          <small class="text-muted"><%= percentage%></small>
                        </div>
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <form action="" id='<%= projects[i].projectname%>_follow' role="form" method="post">
                            <button type="button" onclick="toProject('<%= projects[i].projectname%>')" class="btn btn-sm btn-outline-secondary" style="width: 12em;">View</button>
                          </form>
                        </div>
                        <small class="text-muted"><%= projects[i].likecount%> likes | <%= projects[i].followcount%> follows</small>
                      </div>
                    </div>
                  </div>
                </div>
                <%}
              }
              %>
            </div>
          </div>
        </div>
      </div>
      
      
      
    </body>
    </html>
    
    <script>
      function toProject(projectName){
        window.location = '/projectDetail?proj='+projectName;
      }
      
      function checkSort(sortTerm, cate) {
        if(sortTerm != null && sortTerm != "") {
          var sortBtn_id = sortTerm + '_sort';
          document.getElementById(sortBtn_id).checked = true;
        } else {
          document.getElementById('start_sort').checked = true;
        }
        if(cate != null && cate != "") {
          var cate_id = cate + '_cate';
          document.getElementById(cate_id).classList.add('active');
        } else {
          document.getElementById('all_cate').classList.add('active');
        }
      }
      
      function filterByCate(cate, sortTerm) {
        var path = '/viewCreatedProjects';
        if(cate != 'all'){
          path += '?cate='+ cate;
          if(sortTerm != null && sortTerm != "") {
            path += '&sortTerm='+sortTerm;
          } 
        }else {
          if(sortTerm != null && sortTerm != "") {
            path += '?sortTerm='+sortTerm;
          }
        }
        window.location = path;
      }
      
      function sortBy(sortTerm, cate){
        var path = '/viewCreatedProjects';
        if(cate != null && cate != "") {
          path += '?cate='+cate+'&sortTerm=' + sortTerm;
        } else if(sortTerm != 'start'){
          path += '?sortTerm=' + sortTerm;
        }
        window.location = path;
      }
      
      function filterByName() {
        var name = document.getElementById("searchName").value;
        var proj = document.getElementsByClassName('projects');
        if(name.length === 0 || !name.trim()) {
          for(var i = 0; i < proj.length ; i++) {
            proj[i].style.display = "block";
          }
          document.getElementById("searchName").value="";
        } else {
          name = name.toLowerCase();
          for(var i = 0; i < proj.length ; i++) {
            var proj_id = proj[i].id.toLowerCase();
            if (!proj_id.includes(name)) {
              proj[i].style.display = "none";
            } else {
              proj[i].style.display = "block";
            }
          }
        }
      }
      
      function filterByCountry(){
        var proj = document.getElementsByClassName('projects');
        var countries = document.getElementsByClassName('countryCheckBox');
        var counter = 0;
        
        for(var i = 0; i < countries.length; i++) {
          if(countries[i].checked) {
            counter++;
            var selected = document.getElementsByClassName(countries[i].value);
            for(var j = 0; j < selected.length; j++) {
              selected[j].style.display = "block";
            }
          } else {
            var not_selected = document.getElementsByClassName(countries[i].value);
            for(var j = 0; j < not_selected.length; j++) {
              not_selected[j].style.display = "none";
            }
          }
        }
        if(counter == 0) {
          for(var j = 0; j < proj.length; j++) {
            proj[j].style.display = "block";
          }
        }
      }
    </script>
    
    
    
    <!-- test comment -->